/*
 * default.css
 * Fidelity
 * 
 * 
 * 
 * Feuille de style par défaut pour la frame principale. Des feuilles de style supplémentaires peuvent compléter celle-ci selon le module.
 */
body
{
	background-color:#444444;
	color:white;
	font-family:Verdana;
}
a
{
	text-decoration: none;
	color:white;
	padding:10px;
}
table
{
	padding-top:50px;
	border-collapse:collapse;
	width:90%;
	margin-left:50px;
}

th
{
	text-align:left;
}

tr
{
	height:50px;
	border-bottom: 1px white solid;
}

h1,h2,ul
{
	text-align:center;
}
ul
{
	list-style-type:none;
	width:100%;
	padding:0px; /* Override user agent stylesheets*/
}
li
{
	display:inline-block;
	min-width:110px;
	margin:3px;
	height:20px;
	border-radius:10px;
	background-color:#555555;
}
li:hover
{
	background-color:#333333;
}

#recherche
{
	text-align:left;
	position:relative;
	left:68%;
	width:200px;
}
.but
{
	position:relative;
	left:3%;
	background-color: #555555;
	padding:10px;
	border-radius:20px;
}
.but:hover
{
	background-color: #333333;
	border-radius:20px;
}
.Valid
{
	position:relative;
	left:3%;
}
#Butreturnacc
{
	position:relative;
	left:75%
}
#footer
{
	margin-top:50px;
	clear:both;
	bottom:0px;
}
#header
{
	margin-bottom:50px;
}
.notification
{
	padding:10px;
	border-radius:20px;
	width:250px;
	text-align:center;
}
.negatif
{
	background-color: #E30909;
}
.positif
{
	background-color: #1BC229;
}
.element
{
	position:float;
}
textarea
{ 
	resize:none;
	width:550px;
}
.MailerOuput
{
	width:800px;
	display:block;
}
.MenuMailer
{
	margin-top:20px;
	float:left;
}
#objet
{
	width:488px;
}
#titremail
{
	left:20%;
	position:relative;
}
#butsms
{
	width:180px;
	height:50px;
	margin-left:35px;
	margin-top:20px;
}
#butenvoimail
{
	position:relative;
	left:36%;
	margin-top:20px;
	margin-bottom:30px;
	width:180px;
	height:50px;
}
#Smsmenu
{
	float:left;
	margin-left:400px;
	margin-top:40px;
}
.boption
{
	width:150px;
}
.Liste
{
	margin-top:38px;
}
h3
{
	display:inline;
}
.categorie
{
	display:inline-block;
}
#exemple
{
	margin-left:150px;
}
#caisselist
{
	margin-top:50px;
}